torch>=2.0.0,<2.4.0 -f https://data.pyg.org/whl/torch_stable.html
torchvision>=0.4.0,<0.10.0
torchaudio>=0.4.0,<0.10.0
faster-whisper @ git+https://github.com/SYSTRAN/faster-whisper.git@0.10.0
transformers
pandas
setuptools>=65
nltk
